server:
  port: 8081

spring:
  application:
    name: roombuddy
  profiles:
    active: dev

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:mysql://localhost:3306/roombuddy_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true
logging:
  level:
    org.hibernate.SQL: off      # Hibernate SQL ?? ?
    org.mybatis: off            # MyBatis ?? ? (?? ?)
    org.springframework.security: DEBUG

mybatis:
  type-aliases-package: roombuddy.roombuddy.dao, roombuddy.roombuddy.dto , roombuddy.roombuddy.domain
  configuration:
    map-underscore-to-camel-case: true

decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true


jwt:
  issuer: dlwnsgkr8318@skuniv.ac.kr
  access-secret-key: ${JWT_ACCESS_KEY}
  refresh-secret_key: ${JWT_REFRESH_KEY}